body, html {
    margin: 0;
    padding: 0;
    font-family: 'Proxima Nova', Arial, sans-serif; /* Assuming Proxima Nova is loaded */
    background: #FFF;
}
header {
    text-align: center;
    padding: 20px;
}
}

#logo {
    max-width: 200px; /* Set a max-width for the logo */
}

#intro {
    padding: 20px;
    text-align: center;
}


#chat-container {
  position: fixed;
  bottom: 0;
  left: 50px;
  transform: translateX(-50%);
  transition: width 0.3s ease; /* Smooth transition for width change */
  width: 33%; /* Starting width */
  height: 33%; /* Adjust height as needed */
  max-width: 600px; /* Maximum width when expanded */
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #fff;
}

#chat-output {
    height: 400px;
    overflow-y: auto;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #f1f1f1;
}

#chat-input-wrapper {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
    display: flex;
    align-items: center;
}

#chat-input {
    flex-grow: 1;
    margin-right: 10px; /* Adjust spacing between input and button */
}

#send-btn {
    padding: 10px 15px; /* Adjust padding as needed */
}

#send-btn:hover {
    background-color: #0056b3;
}
